<%= render 'shared/navbar' %>
<!-- <h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('background.jpg') %>);">
  <div class="banner-content">
    <h1>Bartendr</h1>
  </div>
</div>
<div class="spacer">
  <h1>My cocktail list</h1>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('background.jpg') %>');">
            <div class="card-category">Cocktail</div>
            <div class="card-description">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              <p>See ingredients</p>
            </div>
            <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %>
          </div>
      </div>
    <% end %>
  </div>
</div>




<%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>

<!-- https://kitt.lewagon.com/placeholder/cities/berlin -->
