<h1>New cocktail recipe</h1>
<!-- <h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p> -->
<%= link_to "Index", cocktails_path %>
<%= form_for @cocktail do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>
